@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ************** NAVBAR ************ */
.logo-nav {
  background-image: url("/targetvh.svg"); /* The image used */
  background-position: top right; /* position image */
  background-size: 30%; /* position image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.menu-dropdown {
  display: none;
}
.menu-nav:focus ~ .menu-dropdown {
  display: block;
}
